[user]
    name = Spiros Eliopoulos
    email = seliopou@gmail.com
[core]
    excludesfiles = ~/.gitignore
    editor = vim
[rerere]
    enabled = 1
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
